<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <script src="angular.min.js"></script> 
    <script src="app.js"></script>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>

  <style>
    .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
    li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
  </style>

<body ng-app="NarrowItDownApp">
   <div class="container" class="col-md-6" ng-controller="NarrowItDownController">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="inputValue">
    </div>
    <div class="form-group narrow-button"  ng-controller="NarrowItDownController">
      <button class="btn btn-primary" ng-click="getMatchedMenuItems(inputValue)">Narrow It Down For Me!</button>
    </div>

    <div class="col-md-6">
    <ul>
      <li ng-repeat="item in found"> {{self.found}} <button ng-click="deleItem()" class="btn btn-default"><span></span>Don’t want this one!</button></li>
    </ul>
   </div>

    <found-items found-items="...." on-remove="...."></found-items>
  </div>

</body>
</html>
