<!doctype html>
<html ng-app="ShoppingListCheckOff" lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <script src="angular.min.js"></script> 
    <script src="app.js"></script>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in buy" ng-if="buy[item].quantity != 0"> Buy {{item.quantity}} {{item.name}} <button ng-click="buyfood(item.name)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
      </ul>
     <!--Message should only show on emtpy object-->
     <div ng-if="Object.keys(buy).length === 0" class="emptyMessage">Everything is bought!</div>
    </div>
    
    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController">
     <h2>Already Bought:</h2>
     <ul>
      <li ng-repeat="(item, total_price) in bought"> Bought {{total_price.quantity}} {{total_price.name}} for total: {{item | currency}}</li>
     </ul>
     <!--Message should only show on emtpy array...still not working???-->
     <div ng-if="Object.keys(bought).length === 0" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
