<!doctype html>
<html ng-app="LunchCheck" lang="en">
  <head>
    <title>Lunch Checker</title>
    <script src="angular.min.js"></script>   
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div ng-controller="LunchCheckController" class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">

             <input ng-model="hearfood" id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             <!-- do NOT consider an empty item, i.e., , , -->
         </div>
     
         <div class="form-group">

             <button ng-click="listrespo()" class="btn btn-default">Check If Too Much</button>
         </div>
         
         <div ng-if="fdnumlist.length === 0" class="form-group message" style="border-color: red; color: red; border-width: 5px; border-style: solid;">
          <h1>Please enter data first</h1>
         </div>

         <div 
         <div ng-if="fdnumlist.length <= 3 && fdnumlist.length > 0" class="form-group message" style="color: green; border-color: green; border-width: 5px; border-style: solid;">   
          <h1>Enjoy!</h1>
        </div>

        <div 
        <div ng-if="fdnumlist.length > 3" class="form-group message" style="border-color: green; color: green; border-width: 5px; border-style: solid;">
          <h1>Too much!</h1>
        </div>
        
   </div>

</body>
</html>
